
@media (min-width:375px) {
  .Container{
    flex: relative;
    width: 375px;
    height: 812px;
    background: #FFFFFF;
    border-radius: 40px;
  }
  body{
    border-radius: 100px;
  }
  
  
  .backbtn{
    flex: auto;
    width: 10px;
    height: 18px;
    left: 17px;
    top: 41px;
    color: #FD7C4B;
    font-size: 2.5rem;
  
  
  }
  .text_one{
  flex: none;
  width: 328px;
  height: 40px;
  left: 16px;
  top: 68px;
  margin-top: 25px;
  font-family:  'Barlow', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  color: #474747;
  
  }
}





