@media (max-width: 375px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .allpage{
      border-radius: 50px;
  }
  .container-2 {
    width: 90vw;
    padding-top: 30px;
    margin: auto;
  }

  body {
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
